.button {
  display: flex;
  align-items: center;
  font-family: Pixel, monospace;
  font-size: 22px;
  color: var(--color-text);
  background-color: rgb(0 0 0 / 10%);
  border: 2px rgb(0 0 0 / 40%) solid;
  padding: 5px 8px;
  gap: 10px;
  cursor: pointer;
  text-shadow: var(--text-shadow);
  text-align: center;
  transition: var(--button-transition);
}

.button img {
  width: 22px;
  height: 22px;
  object-fit: contain;
  filter: drop-shadow(var(--text-shadow));
}

.button:hover {
  background: var(--button-color-hover);
  border: var(--button-border-hover);
  transform: var(--button-hover-transform);
  box-shadow: var(--button-hover-shadow);
}

.button:active {
  box-shadow: none;
  border: var(--button-border-hover);
  transform: var(--button-active-transform);
  filter: brightness(1.25);
}

.button-sidebar {
  width: 100%;
  border: var(--button-border);
  padding: 2px 0 2px 6px;
}

.button-sidebar img {
  width: 16px;
  height: auto;
  image-rendering: pixelated;
}

.button-sidebar span {
  font-size: clamp(1rem, 1.35rem, 1.35rem);
  text-shadow: var(--text-shadow);
}

.button-sidebar.active {
  background-color: var(--color-foreground);
}