.panel-frame {
  border-top: var(--panel-frame-border) solid var(--panel-frame-light);
  border-left: var(--panel-frame-border) solid var(--panel-frame-light);
  border-right: var(--panel-frame-border) solid var(--panel-frame-dark);
  border-bottom: var(--panel-frame-border) solid var(--panel-frame-dark);
  box-shadow: var(--panel-shadow);
}

.panel {
  background-color: var(--panel-color);
  padding: var(--panel-padding);
  border: var(--panel-border);
  border-top: var(--panel-border-top);
}

.panel-header {
  background-color: var(--panel-header-background-color);
  padding: var(--panel-header-padding);
  display: flex;
  align-items: center;
  margin-bottom: var(--panel-header-margin);
  justify-content: space-between;
}

.panel-header p {
  color: var(--color-accent);
  font-size: 24px;
}

.panel-controls {
  display: flex;
  gap: 5px;
}

.panel-button {
  background-color: var(--color-foreground);
  border: none;
  padding: 10px;
  color: var(--color-accent);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-shadow: var(--text-shadow);
}

.panel-button:hover {
  background-color: #ffffff25;
}

.panel-content {
  overflow: hidden auto;
  padding: var(--panel-content-padding);
  display: flex;
  flex-direction: column;
}

.panel-content.collapsed {
  display: none;
}

.panel-content.tabs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 400px;
}


/* ====[ PANEL GRID ]==== */
.panel-grid-2 {
  display: grid;
  grid-template-columns: var(--panel-col-1, 1fr) var(--panel-col-2, 1fr);
  gap: var(--gap-size);
  align-items: stretch;
}

.panel-grid-2:has(> .panel-frame:only-child) {
  grid-template-columns: 1fr;
}

.panel-grid-2 > .panel-frame {
  height: 100%;
  display: flex;
}

.panel-grid-2 > .panel-frame > .panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.panel-grid-2 > .panel-frame .panel-content {
  flex: 1;
}

.panel-frame.collapsed {
  height: auto !important;
}

.panel-frame.collapsed .panel {
  height: auto;
}


/* ==== [ PANEL TABS ] ==== */
.panel-tabs {
  display: flex;
}

.panel-tab {
  padding: 1px 8px;
  cursor: pointer;
  background: var(--color-foreground);
  color: var(--text-color);
  opacity: 0.45;
  transition: 0.2s;
  font-family: Pixel, monospace;
  font-size: 20px;
  border: 0 solid transparent;
}

.panel-tab:hover {
  opacity: 1;
}

.panel-tab.active {
  opacity: 1;
  background-color: var(--color-foreground);
}