.tree-list {
  display: flex;
  flex-direction: column;
}

.tree-section:not(:last-child) {
  margin-bottom: 12px;
}

.tree-header {
  position: relative;
  padding-left: 20px;
}

.tree-header::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 15px;
  width: 2px;
  height: 25px;
  background: #fff;
}

.tree-header::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 15px;
  width: 8px;
  height: 2px;
  background: #fff;
}

.tree-item {
  position: relative;
  padding-left: 30px;
  line-height: 1.45;
}

.tree-item::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 1px;
  width: 2px;
  height: calc(100% + 2px);
  background: #fff;
}

.tree-item::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 15px;
  width: 20px;
  height: 2px;
  background: #fff;
}

.tree-item:last-child::before {
  height: 14px;
}