/* PERFIL PRINCIPAL */
.profile-section {
  display: flex;
  align-items: center;
  gap: 25px;
}

.profile-avatar {
  align-self: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
}

.profile-avatar img {
  border: 3.5px solid rgb(41, 124, 92);
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-username {
  font-family: "VT323", monospace;
  font-size: 48px;
  color: #81eea3;
  margin: 0;
}

.profile-subinfo {
  font-size: 18px;
  color: #ccc;
  margin: 2px 0;
}


.resume {
  margin: 25px 0 25px 0;
}

.about-section-title {
  font-family: "VT323", monospace;
  font-size: 32px;
  color: #81eea3;
}

.about-text {
  font-size: 20px;
  color: #fff;
  line-height: 1.3;
}

.about-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 20px;
  color: #fff;
  line-height: 1.3;
}

.about-list li {
  margin-bottom: 8px;
}

.list {
  margin: 25px 0 25px 0;
}

.list h2 {
  margin: 0
}


/* BOTONES DE REDES */
.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 45px;
}

/**/

/* STATS / PROYECTOS (sin cambios) */
.projects-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: stretch;
}

.project {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1725);
  box-shadow: inset 0 0px 0px #00000050;
  border-radius: 5px;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-title p {
  font-size: 40px;
  margin: 0;
  margin-bottom: 3px;
}

.project-thumbnail img {
  width: 64px;
  height: 64px;
  border-radius: 20%;
  margin-left: 10px;
  margin-right: 25px;
}

.stats-content {
  background-color: #2d353c;
  border-radius: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #00000070;
}

.stats-title {
  text-align: center;
  align-content: center;
  font-size: 20px;
  margin-top: 20px;
}

.stats-title p {
  font-size: 30px;
  margin: 0%;
  margin-top: 15px;
}

.stats-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-image img {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* RESPONSIVE */
@media (max-width: 750px) {
  .profile-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-avatar img {
    width: 120px;
    height: 120px;
  }

  .social-btn {
    width: 80%;
    justify-content: center;
  }
}