/* INTRO START */

.content-block.intro-content {
  display: flex;
}

.intro-banner {
  display: flex;
  justify-content: center;
}

.intro-banner video {
  width: 100%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.678) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* INTRO END */


/* CHANGELOG START */

.changelog-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.changelog-title {
  margin-bottom: 10px;
}

#title {
  color: #1bff72;
}

/* CHANGELOG END */


/* SETTINGS START */
.option {
  margin-bottom: 15px;
}

/* SETTINGS END */


/* STATS START */
#visitors {
  margin: 0;
}

#followers,
#created {
  margin: 0;
  margin-top: 15px;
}

#created {
  margin-bottom: 15px;
}

/* STATS END*/

@media (max-width: 750px) {
  .project {
    flex-direction: column;

  }

  .project-thumbnail img {
    margin: 0 auto;
  }

  .project-thumbnail {
    align-self: center;
  }

  .project-title {
    align-self: center;
  }
}