/* TV TIME! */
.tv-container {
  position: relative;
  width: 300px;
}

.tv-screen {
  position: absolute;
  top: 10%;
  left: 12%;
  width: 100%;
  height: 100%;
  overflow: show;
}

.tv-screen iframe {
  width: 230px;
  height: 200px;
  border: none;
}

.tv-frame {
  width: 100%;
  display: block;
  position: relative;
  z-index: 10;
}

/* TV TIME! */

/* iFrame */
.iframe.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

/* iFrame */

/* Flash */
.games-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #0f251662;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 210px;
  text-align: center;
}

.game-thumbnail {
  width: 100%;
  aspect-ratio: 16 / 11;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.game-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.game-title {
  margin-top: 5px;
}

.game-title a {
  font-size: 28px;
  color: #6cd68d;
  transition: all 0.3s;
  text-decoration: none;
}

.game-title a:hover {
  color: #a4fdc0;
  transition: all 0.3s;
}

/* Flash */