[data-color="purple"] {
  /* Text */
  --main-text: #fff;
  --accent-color: #87f3a9;

  /* Colors */
  --background: #282a36;
  --foreground: #433f55;

  /* Panel */
  --panel-color: var(--background);
  --panel-border: 4px solid var(--foreground);
  --panel-header-background-color: var(--foreground);

  /* Button */
  --button-color-hover: var(--foreground);
  --button-border-hover: 2px solid var(--foreground);

  /* Spacing line */
  --spacing-line-color: var(--foreground);

  /* Banner */
  --banner-image: url("/assets/images/banners/purple.png");

  /* Mouse */
  --normal-mouse-image: url("/assets/images/mouse/purple-normal.png");
  --hover-mouse-image: url("/assets/images/mouse/purple-hover.png");

  /* Background */
  --background-image: url("/assets/images/backgrounds/purple.png");
  --background-repeat: repeat;
  --background-size: 200px 200px;
  --background-animation: scroll-background 30s linear infinite;
  --background-color: #191a22;
}

[data-color="blue"] {
  /* Text */
  --main-text: #fff;
  --accent-color: #81c3d7;

  /* Colors */
  --background: #2f6690;
  --foreground: #3a7ca5;

  /* Panel */
  --panel-color: var(--background);
  --panel-border: 4px solid var(--foreground);
  --panel-header-background-color: var(--foreground);

  /* Button */
  --button-color-hover: var(--foreground);
  --button-border-hover: 2px solid var(--foreground);

  /* Spacing line */
  --spacing-line-color: var(--foreground);

  /* Banner */
  --banner-image: url("/assets/images/banners/blue.png");

  /* Mouse */
  --normal-mouse-image: url("/assets/images/mouse/blue-normal.png");
  --hover-mouse-image: url("/assets/images/mouse/blue-hover.png");

  /* Background */
  --background-image: url("/assets/images/backgrounds/blue.png");
  --background-repeat: repeat;
  --background-size: 200px 200px;
  --background-animation: scroll-background 30s linear infinite;
  --background-color: #191a22;
}

[data-color="green"] {
  /* Text */
  --main-text: #fff;
  --accent-color: #d8f3dc;

  /* Colors */
  --background: #2d6a4f;
  --foreground: #40916c;

  /* Panel */
  --panel-color: var(--background);
  --panel-border: 4px solid var(--foreground);
  --panel-header-background-color: var(--foreground);

  /* Button */
  --button-color-hover: var(--foreground);
  --button-border-hover: 2px solid var(--foreground);

  /* Spacing line */
  --spacing-line-color: var(--foreground);

  /* Banner */
  --banner-image: url("/assets/images/banners/green.png");

  /* Mouse */
  --normal-mouse-image: url("/assets/images/mouse/purple-normal.png");
  --hover-mouse-image: url("/assets/images/mouse/purple-hover.png");

  /* Background */
  --background-image: url("/assets/images/backgrounds/green.png");
  --background-repeat: repeat;
  --background-size: 200px 200px;
  --background-animation: scroll-background 30s linear infinite;
  --background-color: #191a22;
}

[data-color="dark"] {
  /* Text */
  --main-text: #fff;
  --accent-color: #fff;

  /* Colors */
  --background: #202020;
  --foreground: #2c2c2c;

  /* Panel */
  --panel-color: var(--background);
  --panel-border: 4px solid var(--foreground);
  --panel-header-background-color: var(--foreground);

  /* Button */
  --button-color-hover: var(--foreground);
  --button-border-hover: 2px solid var(--foreground);

  /* Spacing line */
  --spacing-line-color: var(--foreground);

  /* Banner */
  --banner-image: url("/assets/images/banners/nocolor.png");

  /* Mouse */
  --normal-mouse-image: url("/assets/images/mouse/nocolor-normal.png");
  --hover-mouse-image: url("/assets/images/mouse/nocolor-hover.png");

  /* Background */
  --background-image: url("/assets/images/backgrounds/dark.png");
  --background-repeat: repeat;
  --background-size: 200px 200px;
  --background-animation: scroll-background 30s linear infinite;
  --background-color: #191a22;
}

[data-color="red"] {
  /* Text */
  --main-text: #fff;
  --accent-color: #fdf0d5;

  /* Colors */
  --background: #780000;
  --foreground: #C1121F;

  /* Panel */
  --panel-color: var(--background);
  --panel-border: 4px solid var(--foreground);
  --panel-header-background-color: var(--foreground);

  /* Button */
  --button-color-hover: var(--foreground);
  --button-border-hover: 2px solid var(--foreground);

  /* Spacing line */
  --spacing-line-color: var(--foreground);

  /* Banner */
  --banner-image: url("/assets/images/banners/red.png");

  /* Mouse */
  --normal-mouse-image: url("/assets/images/mouse/nocolor-normal.png");
  --hover-mouse-image: url("/assets/images/mouse/nocolor-hover.png");

  /* Background */
  --background-image: url("/assets/images/backgrounds/red.png");
  --background-repeat: repeat;
  --background-size: 200px 200px;
  --background-animation: scroll-background 30s linear infinite;
  --background-color: #191a22;
}