.entry-date {
  opacity: 0.8;
  font-size: 20px;
  font-style: italic;
  margin-bottom: 10px;
}

.entry-image {
  width: 100%;
  aspect-ratio: 2 / 1;
}

.entry-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}