.project-header {
  display: flex;
  align-items: center;
  gap: 13px;
}

.project-icon img {
  width: 70px;
  vertical-align: bottom;
  border: var(--button-border);
}

.project-title {
  font-size: 36px;
  margin: 0;
}

.project-body {
  margin-top: 20px;
  color: white;
}

.project-gallery {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 15px;
}

.project-gallery img {
  width: 348px;
  height: 195px;
  object-fit: cover;
  background-color: #111;
}

.image-preview {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px rgb(0 0 0 / 40%) solid;
}

.image-preview img {
  width: 100%;
  height: 100%;
  display: block;
  border-color: black;
  border-width: 3px;
  object-fit: cover;
  aspect-ratio: 16 / 10;
  max-width: 100%;
}

.projects-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.image-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(0 0 0 / 40%);
}