.projects-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.project-icon img {
  width: 72px;
  height: 72px;
  border-radius: 16%;
}

.project-meta {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 36px;
  margin: 0;
}

.project-tags {
  display: flex;
  gap: 8px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.tag {
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  color: #ccc;
}

.project-body {
  margin-top: 20px;
  color: white;
}

.project-gallery {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 15px;
}

.project-gallery img {
  width: 348px;
  height: 195px;
  object-fit: cover;
  background-color: #111;
}

.image-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.90);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
}

.image-overlay img {
  width: 90%;
}

.image-preview {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px rgba(0, 0, 0, 0.4) solid;
}

.image-preview img {
  width: 100%;
  height: 100%;
  display: block;
  border-color: black;
  border-width: 3px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  max-width: 100%;
}

.image-overlay .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.proyects-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.image-text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}