<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/assets/images/favicon/pages.png">
  <title>{{ title }} - Timmy</title>
  <link rel="stylesheet" href="/dist/pages.css">
</head>

<body>
  <div class="container">
    <div class="head">
      <div class="head-title">
        <h1>timmy.nekoweb</h1>
      </div>
      <div class="head-links">
        <a href="/content/sitemap/index.html">sitemap</a>
        <a href="/content/blog/index.html">blog</a>
        <a href="/content/changelog/index.html">changelog</a>
      </div>
    </div>

    <div class="content">
      {{ content }}
    </div>

    <div class="footer">
      <div class="footer-content">
        <p>
          Pagina hecha con: <a href="https://www.11ty.dev/">11ty</a> <br>
          Todo el contenido está bajo la licencia: <a rel="license"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es">CC BY-NC-SA 4.0</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>