.card {
  width: 100%;
  background-color: var(--foreground);
  padding: 6.5px 8px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.725);
  border: 2px dashed var(--background);
}

.card-content {
  margin-top: 10px;
}

.card-date {
  opacity: 0.8;
  font-size: 20px;
  font-style: italic;
}