#tooltip {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(25 25 25);
  border: 2px solid rgb(55 55 55);
  color: white;
  padding: 6px 10px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transform: translate(10px, 10px);
  transition: opacity .08s;
  z-index: 999999;
  font-size: 20px;
}

#tooltip.visible {
  opacity: 1;
}