a[target="_blank"]::after {
  content: " 🡥";
  font-size: 12px;
}

@font-face {
  font-family: Pixel;
  src: url("/assets/fonts/pixel.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  line-height: 110%;
}

html {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  scrollbar-width: none;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  scrollbar-color: var(--color-foreground) transparent; 
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  margin: 0;
  background-color: var(--color-background-color);
  color: var(--color-text);
  font-family: Pixel, monospace;
  text-shadow: var(--text-shadow);
  animation: fade-in 1s ease forwards;
  cursor: var(--normal-mouse-image), auto;
}

label {
  cursor: var(--normal-mouse-image), auto;
}

a {
  text-decoration: none;
}

p, label, a, span  {
  font-size: clamp(1rem, 1.75vw + 0.25rem, 1.60rem);
  color: var(--color-text);
  letter-spacing: -0.3px;
}

button:hover, a:hover, input:hover {
  cursor: var(--hover-mouse-image), pointer;
}

.readable-font * {
  font-family: Arial, Helvetica, sans-serif !important;
  line-height: 150%;
  font-size: 20px;
}

h1 {
  font-weight: normal;
  color: var(--color-accent);
  font-family: Pixel, sans-serif;
  text-shadow: var(--text-shadow);
  font-size: var(--panel-header-text-size);
}

h2 {
  font-weight: normal;
  color: var(--color-accent);
  font-family: Pixel, monospace;
  border-bottom: 2px solid var(--color-foreground);
}

input[type="text"] {
  max-width: 500px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 0;
  color: white;
  border: 2px rgb(0 0 0 / 60%) solid;
  background-color: rgb(0 0 0 / 20%);
  font-size: 16px;
}

textarea {
  width: 350px;
  height: 150px;
  max-width: 500px;
  max-height: 300px;
  min-width: 200px;
  min-height: 100px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 0;
  color: white;
  border: 2px rgb(0 0 0 / 60%) solid;
  background-color: rgb(0 0 0 / 20%);
  font-size: 16px;
}

ul {
  padding: 0 0 0 14px;
}